################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HybridWaiter/FileContentIndex/58d3d60a-8908-4856-8dd4-7c47e7875c01.vsidx
